streamlit==1.54.0
pandas==2.3.3
numpy==2.2.6
scikit-learn==1.7.2
matplotlib==3.10.8
seaborn==0.13.2
geopandas==1.1.2
folium==0.20.0
mapclassify==2.8.1
statsmodels==0.14.6
joblib==1.5.3
pydeck==0.9.1
pyarrow==23.0.1
contextily
xyzservices
altair==6.0.0
watchdog==6.0.0
pillow==12.1.1